/* 
  Google Fonts API
  Font used: Poppins
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


/* 
  Color Palettes
  This color palette is from https://colorhunt.co/. 
  Link for the palette: https://colorhunt.co/palette/222831393e4600adb5eeeeee
 */
 :root {
  --primary-color: #FF731D;
  --secondary-color: #5F9DF7;
  --secondary-dark: #1746A2;
  --light-color: #FFF7E9;
  --black: #383A3D;
  --white: #FFFFFF;
}

body {
  background: url('bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", "sans-serif";
  color: var(--black);
}

.card {
  padding: 30px 0 30px 0;
  width: 360px;
  margin: 100px auto;
  text-align: center;
  background: var(--primary-color);
  border: 3px solid var(--black);
  border-radius: 10px;
  box-shadow: 0px 10px var(--black);
  background: var(--white);
}

.container {
  padding: 0 20px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}


.input-container .input {
  padding: 0 15px 0 0;
  font-family: "Comfortaa";
  text-align: right;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 10px;
  border: 3px solid var(--black);
  box-shadow: 0px 5px var(--black);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.split {
  padding: 0 0 0 20px;
}

.split-button {
  height: 30px;
  width: 30px;
  border: 3px solid var(--black);
  box-shadow: 0px 5px var(--black);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  align-items: center;
}

.split-button:hover {
  background: var(--black);
  color: var(--white);
}

.total-container {
  display: flex;
}

.font-lg {
  font-weight: 600;
  font-size: 20px;
}

/* Footer */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--white);
  text-align: center;
}

.footer-content {
  color: var(--background-light);
  padding: 10px 10px 10px 10px;
  background: var(--black);
}

.links {
  color: var(--primary-color);
  text-decoration: none;
}